@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" asp-controller="Home" asp-action="PDF"> <!-- Buscando o método IActionResult no Home Controller de nome PDF -->
        <label>&nbsp;</label>
        <input type="submit" value="Gerar Relatorio PDF"/>
    </form>
</div>
